body {margin: 0;}
html {scroll-behavior: smooth;}
.nav-top {
            width: 100%;
            height: 100px;
            position: relative;
            background-color: #48C9B0;
         }
a:hover {
          color: black;
        }

p { font-family: Smooch Sans,sans-serif;}
a {font-family: Montserrat,serif;}
.about {
          text-decoration: none;
          position: relative;
          font-size: 1.3rem;
          left: 1500px;top: 50px;
          color: white;
          padding-left: 30px;
       }

.work {
        text-decoration: none;
        position: relative;
        font-size: 1.3rem;
        left: 1520px; top: 50px;
        color: white;
        padding-left: 30px;
      }

.contact {
            text-decoration: none;
            position: relative;
            font-size: 1.3rem;
            left: 1540px; top: 50px;
            color: white;
            padding-left: 30px;
         }

.div-body-1 {
              text-align: center;
              background-image: linear-gradient(#48C9B0, white);
              height: 1200px;
            }

.landscape {
              width: 100%;
              position: relative;
              top: 250px;
              padding-top: 50px;
           }
.line-2 {
          border-style:none;
          border-top-style: dotted;
          border-width: 10px;
          width: 20%;
          color: #45B39D;
          position: relative;
          bottom: 550px; right: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
        }

.name {
      padding: 20px;
      display: inline-block;
      text-align: center;
      position: relative;
      bottom:950px;left:10px;
      font-size: 6rem;
      font-family: Major Mono Display,serif;
    }


.intro {
      text-align: center;
      position: relative;
      bottom:990px;left:0;
      font-family: Major Mono Display,serif;
      font-size: 1.4rem;
      font-weight:bolder;
   }

.web {
        text-align: center;
        text-decoration: underline;
        position: relative;
        left:0;
     }

.div-body-2 {
              text-align: center;
              position: relative;
              top: 5px;
              height: 700px;
              margin: 0
            }

.info {
        text-align: center;
        width: 70%; height: 500px;
        position: relative;
        left: 300px;
      }

.profile {
            border-radius: 100%;
            width: 250px; height: 250px;
            position: relative;
            top:50px;
            z-index:  auto;

         }

.hello {
          text-align: center;
          font-size: 3rem;
          font-family: Bebas Neue,cursive;
          position: relative;


       }

.info-1 {
          display: inline-block;
          font-size: 1.8rem;
          font-weight: bold;
          position: relative;
          line-height: 0.1px;
        }

.div-body-3 {
              text-align: center;
              position:relative;
              height:1000px;
            }

.content {
            text-align: center;
            width: 40%;
            position: relative;
            left:620px; top: 10px;
         }

.do {
      position: relative;
      right: 20px;
      font-family: Bebas Neue, serif;
      font-size: 3rem;
    }

.design {
          text-align: center;
          background-color: white;
          width: 500px;
          height: 300px;
          position: relative;
          right: 450px;top:40px;
        }
.want {
        text-align: center;
        font-size: 1.5rem;
        font-family: Major Mono Display, serif;
        position: relative;
        bottom: 250px; right: 20px;
        color: red;
      }

.need {
        text-align: center;
        font-size: 1.5rem;
        font-family: Major Mono Display, serif;
        position: relative;
        bottom: 550px; right:35px;
        color: red;
      }

.design-p {
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            position: relative;
            bottom: 300px; left: 140px;
            padding-bottom: 100px;
          }

.skill-row {
              height: 900px;
           }

.code-p {
          text-align: center;
          font-size: 35px;
          font-weight:bold;
          position: relative;
          bottom: 530px; right:140px;
          padding-bottom: 100px;
        }

.giff {
        position: relative;
        left: 550px; bottom: 300px;
        width: 500px;
        height: 300px;
      }

.line-3 {
          border-style:none;
          border-top-style: dotted;
          border-width: 10px;
          width: 13%;
          color: #45B39D;
          position: relative;
          left:20px;

        }

.div-body-4 {
              text-align: center;
              position: relative;
              height: 550px;
            }

.contact-me {
              position: relative;
              left:620px; top: 100px;
              width: 40%;
              text-align: center;
              height: 450px;
            }

.bottom {
          text-align: center;
          width: 100%;
          height: 705px;
          background-color: #48C9B0;
        }


h2 {
      text-align: center;
      position: relative;
      right: 25px;
      font-size: 3rem;
      font-family: Bebas Neue, serif;
   }

.i {
      font-family: Major Mono Display, serif;
      position: relative;
      right: 10px;
   }

.contact-message {
                    text-align: center;
                    font-size: 35px;
                    font-weight: bold;
                    position: relative;
                    top: 50px;
                 }

.btn {
       background: red;
       background-image: -webkit-linear-gradient(top, red,red);
       background-image: -moz-linear-gradient(top, red,red);
       background-image: -ms-linear-gradient(top, red,red);
       background-image: -o-linear-gradient(top, red);
       background-image: linear-gradient(to bottom, red,red);
       -webkit-border-radius: 28;
       -moz-border-radius: 28;
       border-radius: 10px;
       text-shadow: 10px 13px 10px red;
       font-family: Bebas Neue, serif;
       color: black;
       font-size: 21px;
       padding: 10px 20px 10px 20px;
       text-decoration: none;
       position: relative;
       top: 100px; right: 35px; bottom: 10px;
     }

.btn:hover {
              color: white;
           }

.bottom {
          background-color: #48C9B0;
          text-align: center;
          width: 100%;
          height: 650px;
        }

.linkedin{
            text-align: center;
            width:85px;
            height:85px;
            opacity: 1;
            filter: alpha(opacity=100);
            position:relative;
            bottom: 350px; left: 600px;
          }
.linkedin:hover
                {
                  opacity: 0.3;
                  filter: alpha(opacity=30);
                }

.github {
            filter: alpha(opacity=100);
            opacity: 1;
            text-align: center;
            width: 55px; height: 55px;
            position: relative;
            bottom: 300px;left: 590px;
        }
.github:hover
                {
                  opacity: 0.3;
                  filter: alpha(opacity=30);
                }

.insta {
            filter: alpha(opacity=100);
            opacity: 1;
            text-align: center;
            width: 55px; height: 55px;
            position: relative;
            bottom: 230px; left: 600px;
        }
.insta:hover
              {
                opacity: 0.3;
                filter: alpha(opacity=30);
              }

.vsco {
            filter: alpha(opacity=100);
            opacity: 1;
            text-align: center;
            width: 55px; height: 55px;
            position: relative;
            bottom: 157px; left: 600px;
     }

.vsco:hover
            {
              opacity: 0.3;
              filter: alpha(opacity=30);
            }

.twitter {
            filter: alpha(opacity=100);
            opacity: 1;
            text-align: center;
            width: 55px; height: 55px;
            position: relative;
            left: 590px; bottom: 95px;
        }
.twitter:hover {
              opacity: 0.3;
              filter: alpha(opacity=30);
            }

.copyright {
              text-align: center;
              font-weight: bolder;
              text-decoration: none;
              font-size: 1.6rem;
              position: relative;
              top:30px;
           }

.last {
        display: inline-block;
        font-family: Anton, sans-serif;
        font-size: 7rem;
        position: relative;
        top: 50px; right: 380px;
        line-height: 115px;
}
